///////////////// FORM

#formContact {
  @include flex-wrap-btw();
  margin-top: 7%;
  .formItem {
    flex-basis: 45%;
  }
}

#formContact * {
  color: white;
  // font-weight: 100;
  font-weight: bolder;
  border-width: 2px;
  border-color: black;
}

//// CardS
.cards {
  @include flex-wrap-btw();
  text-align: center;
  margin: 0 auto;
  width: 89%;
  padding: 3% 0;
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 25em;
    flex: 0 1 30%;
    position: relative;
    display: flex;
    align-items: center;
    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
  }
}
//// NAv
#nav {
  // background: url();
  // background-color: red;
}

.link {
  color: $main-color;
  filter: $text-darker;
  padding-left: 3%;
  text-decoration: none;
  list-style: none;
  font-size: 1.4em;
}
