body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  // font-family: "Kaushan Script";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#background-main {
  background-image: url("apple.jpg");
}

#contact-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: dimgray;
  color: white;
  padding-bottom: 2%;
  #contact-let {
    flex: 0 1 42%;
    > div {
      margin-bottom: 8%;
    }
    h4 {
      margin-bottom: -2%;
    }
  }
  #contact-right {
    flex: 0 1 42%;
  }
}

#formContact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .formItem {
    flex-basis: 45%;
    color: red;
  }

  #buttonCont {
    width: 100%;
    justify-content: center;
    display: flex;
  }
  .buttFor {
    width: 300px;
  }
}

#formContact * {
  font-weight: bolder;
  color: white;

  border-width: 2px;
  border-color: black;
}

.formItem * {
  font-weight: 100;
}
